.u-section-1 .u-sheet-1 {
  min-height: 283px;
}

.u-section-1 .u-image-1 {
  width: 168px;
  height: 130px;
  margin: 0 auto 0 274px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: -79px 302px 0 454px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 516px;
  margin: 27px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 14px auto 0 128px;
  padding: 10px 12px 10px 11px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5626em;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -55px 154px 35px auto;
  padding: 10px 12px 10px 11px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5626em;
  color: rgb(85, 96, 128) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 202px;
    margin-left: 354px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 162px;
    margin-left: 314px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 72px;
    margin-left: 224px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 172px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 96px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 614px;
}

.u-section-2 .u-gallery-1 {
  width: 1001px;
  height: 561px;
  grid-gap: 10px;
  margin: 54px -1px 0;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    width: 800px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 85px;
    height: 85px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 85px;
    height: 85px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 85px;
    height: 85px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 85px;
    height: 85px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 801px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 11px auto 0;
}

.u-section-3 .u-image-1 {
  width: 87px;
  height: 87px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 5px 85px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 147px;
  height: 101px;
  margin: -121px 88px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 94px;
  height: 75px;
  margin: -95px auto 0 130px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 11px auto 0 86px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: -58px auto 0;
}

.u-section-3 .u-image-4 {
  width: 84px;
  height: 117px;
  margin: 58px 116px 0 auto;
}

.u-section-3 .u-image-5 {
  width: 161px;
  height: 129px;
  margin: -126px auto 0;
}

.u-section-3 .u-image-6 {
  width: 86px;
  height: 110px;
  margin: -119px auto 0 134px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: 2px 105px 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  margin: -20px auto 0 86px;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  margin: -29px auto 0;
}

.u-section-3 .u-image-7 {
  width: 162px;
  height: 162px;
  margin: 66px auto 0;
}

.u-section-3 .u-image-8 {
  width: 95px;
  height: 95px;
  margin: -138px 105px 0 auto;
}

.u-section-3 .u-image-9 {
  width: 100px;
  height: 100px;
  margin: -88px auto 0 123px;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  margin: 20px auto 0 86px;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  margin: -29px auto 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.5rem;
  margin: -58px 87px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 350px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -407px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 469px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -274px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -236px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -251px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 677px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -550px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 92px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -104px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -78px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -35px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 392px;
  }

  .u-section-3 .u-image-8 {
    margin-top: -492px;
  }

  .u-section-3 .u-image-9 {
    margin-top: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    margin-top: -399px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -281px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -244px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -557px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 99px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    margin-top: -406px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 377px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -182px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -250px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -237px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 585px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -459px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 106px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -118px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 406px;
  }

  .u-section-3 .u-image-8 {
    margin-top: -506px;
  }

  .u-section-3 .u-image-9 {
    margin-left: 77px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1609px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 644px;
  margin: 29px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 41px 0 0;
}

.u-section-4 .u-text-3 {
  width: 282px;
  margin: 56px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 43px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 443px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 22px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  height: 24px;
  margin: 18px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 22px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  height: 24px;
  margin: 18px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-9 {
  margin: 22px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  height: 24px;
  margin: 18px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-11 {
  margin: 22px 0 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  height: 24px;
  margin: 18px auto 0;
  padding: 0;
}

.u-section-4 .u-list-2 {
  grid-template-rows: repeat(1, auto);
  margin: 72px auto 29px -9px;
}

.u-section-4 .u-repeater-2 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 470px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-12 {
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-13 {
  margin: 22px 0 0;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  height: 24px;
  margin: 18px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-14 {
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-15 {
  margin: 22px 0 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  height: 24px;
  margin: 18px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-icon-7 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-16 {
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-17 {
  margin: 22px 0 0;
}

.u-section-4 .u-btn-7 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  height: 24px;
  margin: 18px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-icon-8 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-18 {
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-19 {
  margin: 22px 0 0;
}

.u-section-4 .u-btn-8 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  height: 24px;
  margin: 18px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 352px;
  }

  .u-section-4 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-2 {
    min-height: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1308px;
  }

  .u-section-4 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1375px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-4 .u-repeater-2 {
    grid-auto-columns: 100%;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 602px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 50px 432px 0 0;
}

.u-section-5 .u-image-1 {
  width: 253px;
  height: 215px;
  margin: -449px 50px 0 auto;
}

.u-section-5 .u-image-2 {
  width: 160px;
  height: 160px;
  margin: 42px 97px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    width: 723px;
    margin-right: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    width: 720px;
    margin-right: 152px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: -12px;
    margin-right: -12px;
  }
}